.container {
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-bottom: 10px;
}

.container summary {
  outline: none;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 18px;
  }
}

.when {
  font-size: 13px;
  color: #939393;
  display: flex;
  align-items: center;
}

.clock-icon {
  margin-left: 10px;
  margin-right: 3px;
}

.content {
}
