.header-container {
  background: #f7e018;
  padding: 50px;
  position: relative;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.description {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300px;
}

.brand-container {
  display: flex;
  flex-direction: row;
}

.brand {
  font-size: 55px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .brand {
    font-size: 30px;
  }

  .header-container {
    padding: 30px;
  }
}
